// .AcessForm {
//   display: flex;
//   justify-content: center;

//   border-radius: 6px;

//   width: 100vw;
//   margin-top: 5em;
// }

// .AccessForm h2 {
//   padding: 22em;
//   align-items: center;
// }

// .form-body {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   width: 17em;
// }

// .AcessForm input[type="submit"] {
//     float: right;
//     padding: 0.35em 1.2em;
//     border:0.1em solid #FFFFFF;
//     margin:0 0.3em 0.3em 0;
//     border-radius:0.12em;
//     box-sizing: border-box;
//     text-decoration:none;
//     font-family:'Roboto',sans-serif;
//     font-weight:300;
//     color:#000000;
//     text-align:center;
//     transition: all 0.2s;
//     background-color:#FFFFFF;
// }

// .AcessForm input[type="submit"]:hover {
//     color: gray;
// }
// .AcessForm input[type="submit"]:active {
//     color:#BBBBBB;
//     border-color:#BBBBBB;
// }


// input[type="password"]:focus,
// input[type="text"]:focus {
//   box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
//   outline: 0;
// }

// .form-submit{
//     padding: 10px;
// }


input[type="password"],
input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 31px;
  margin: 31px 0 0 29px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 240px;
}
.AcessForm { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }



.AcessForm input[type="submit"] {
    display: flex;
    justify-content: center;
  cursor: pointer;
    // float: right;
  transition: 0.5s;
    padding: 0.3em 1.2em;
    margin:3em 0.3em 0.3em 0;
	width: 40%; 
}
.AcessForm input[type="submit"]:hover {
  transform: scale(1.1);
}

.form-submit {
    display: flex;
    justify-content: center;
}


.form-error {
 font-size: 11px;
 height: 8px;
 max-height: 8px;
 padding: 4px;
 color: red;
}

