input[type="password"],
input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 46px;
  margin: 21px 0 0 0;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  // width: 340px;
  
}


.AcessForm form div:first-child {
    display: flex;
    justify-content: center;
   flex-direction: column; 
   // align-content: center;
}
.AcessForm form  {
    display: flex;
    justify-content: center;
   flex-direction: column; 
   align-content: center;
}


.AcessForm { 
	position: absolute;
	top: 46%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:320px;
	height:300px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

textarea,
input { 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 23px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 8em;
}

.inputs .textarea {
    padding: 0.8em;
}
textarea {
    height: 8em;
    width: 100%;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }



.AcessForm input[type="submit"] {
    display: flex;
    justify-content: center;
  cursor: pointer;
    // float: right;
  transition: 0.5s;
    padding: 0.3em 1.2em;
    margin:3em 0.3em 0.3em 0;
	width: 70%; 
}
.AcessForm input[type="submit"]:hover {
  transform: scale(1.1);
}

.form-submit {
    display: flex;
    justify-content: center;
}


.form-error {
 width: 100%;
 font-size: 15px;
 height: 8px;
 // max-height: 8px;
 padding-bottom: 14px;
 color: red;
}



.enter {
  opacity: 0.1;
  transform: scale(1.1);
}


.enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
