.App {
    display: flex;
}

.container {
    height:100%;
    width: 100%;
}

.paper {
	width: 600px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: 0;
	position: absolute;
	background: #fefefe;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding-bottom:30px;
	box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.card{
  opacity: 0.1;
  width: 350px;
  padding: 30px;
  background: #fefefe;
  margin: auto;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  
  &:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
  	.entry-title{
			background-position: -100% 0;
		} 
  }
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
