.body {
    height: 100%;
}

.home {
    display: flex;
    justify-content: center; 
    border: 20px;
    padding-top: 10em;
}

.home div{

  text-align: center;
}


.welcome {
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
 margin: .25rem;
  padding: .25rem;

}

