.repository {
    font-size: 22px;
    display: flex;
    align-items: center;
    // justify-content: center;
    // margin-top: 1em;
    // margin: 3em;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.repo-container {
    width: 100%;
    display:flex;
    // flex-direction: column;
    align-content: center;
    // margin-top: 3em;
    // width: 9em;
    // display: inline-flex;
    // justify-content: center;
}

.repo-container label{
    max-width: 200px;
    padding: 0.1em;
}

.repo-list {
    display: flex;
    justify-self: center;
    flex-direction: column;

    h1{
    width: 100%;
        padding-bottom: 2em;
        text-align: center;
        font-size: 24px;
    }

    .repo-list-item {
        width: 72em;
        max-height: 44em;
        
        overflow: scroll;
    }
}


.repo-container {
    display: flex;
    align-items: center;
    justify-self:center;
    flex-direction: column;

}

.repo-info {
    // margin-left: 30%;
    // margin-right: 30%;
    // justify-content: center;
    // align-content: center;
    // flex-direction: column;
}


    .repo-info-description{

        display: flex;
        flex-direction: column;
    }

    .repo-info-name {
        font-weight: bold;
        font-size: 35px;
        padding-bottom: 2em;

        div {
            text-align: center;
        }
    }

.info-repo {
    max-width: 40em;
    display:flex;
    padding-top: 1em;
    flex-direction: column;
    align-content: center;
    justify-content: center; 
    border-top-color: transparent;
}
.info-repo span {
    font-size: 19px!important;
    display: block;
}

.info-container{
    border-top-color: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 1.2em;
}

.info-repo-display {
    position: relative;
    padding: 10px 55px 10px 10px;
    background: rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}

.delete-repo {
    padding-top: 1em;
    float: right;
}

.deleteRepoBtn { 
    margin-bottom: auto;
	// margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 8px;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.deleteRepoBtn:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }



.repo-bar-container {
    width: 100%;
    padding: 8px;
      display: flex;
      justify-content: flex-start;
    padding-top: 3.8em;

}


.repo-bar-ul {
    font-size: 1.8em;
}
