.repo-list {
    display: flex;
    justify-content: center;
    padding-top: 5em;
      // max-height: 10em;
}


.repo-list-item { 
    align-content: center;

     // width:350px;height:200px;
      border: solid 0.4px #555;
      background-color:rgba(25,147,147,0.2);
      box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    padding: 1em;
}

.repo-container{
    padding: 0.8em;
}

.repo-list-item-name {
    display: flex;
    flex-direction: column;
    padding-right: 0.8em;
    font-size: 18px;
    padding-bottom: 0.4em;

}


.repo-list-item-description {

    font-size: 16px
}
